
.vscode/launch.json
Coffee store/add-product.html
Coffee store/admin.html
Coffee store/all_prod.html
Coffee store/app.py
Coffee store/cart.html
Coffee store/cart.js
Coffee store/coffee.html
Coffee store/coffee.js
Coffee store/web database.sql
